{% extends "base.html" %}

{% block content %}

<h2 class="text-center mb-4">{{ categoria }}</h2>

<div class="row">
    {% for p in productos %}
    <div class="col-md-4 mb-4">
        <div class="card card-producto shadow p-3">
            <h5>{{ p.DESCRIPCION }}</h5>
            <p class="precio">
                $ {{ "{:,.0f}".format(p.PRECIO) }}
            </p>

            <form action="/agregar" method="POST">
                <input type="hidden" name="referencia" value="{{ p.REFERENCIA }}">
                <input type="hidden" name="descripcion" value="{{ p.DESCRIPCION }}">
                <input type="hidden" name="precio" value="{{ p.PRECIO }}">

                <button class="btn btn-success w-100">
                    Agregar al carrito
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}